.FilterButton  {
  &.FilterButton-primary {
      margin: 4px;
      color: black;
      border-color: #bddb8f;
      border-radius: 0.25rem;
      min-width: 60px;
  }
}

h6 {
  text-align: center;
  margin-top: 20px !important; 
  margin-bottom: 5px !important; 
}

hr {
  margin-top: 0px !important; 
  margin-bottom: 0px !important;
}

.CenterAlign {
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
